body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

header {
    display: flex;
    background-color: #1F2937;
    font-size: 18px;
    color:white;
    justify-content: space-around;
    align-items: center;
}

span {
    margin-left: 110px;
}

button {
    background-color: #3882F7;
    border-color: white;
    color: white;
    padding: 5px 50px;
    border-radius: 5px;
    font-weight: bolder; 
}


ul {
    display: flex;
    gap:16px
}

ul, a{
    list-style-type: none;
    text-decoration: none;
    color:white;
}

.container {
    display: flex;
    background-color: #1F2937;
    justify-content: space-around;
    color: white;
    flex-wrap: wrap;
}

section .text {
    display: flex;
    flex-direction: column;
    width: 350px;
    justify-content: center;
    align-self: flex-start;
    margin-left: 150px;
    margin-top: 70px;
    gap: 48px;
    font-size: large;
}

section img {
    margin-bottom: 64px;
    margin-top: 64px;
    width: 600px;
    height: 300px;
}

h1 {
    margin: 0;
}

section button {
    align-self: center;
    margin-right: 90px;
}

h2 {
    text-align: center;
    margin-bottom: 64px;
}

.info-box {
    display: flex;
    justify-content: center;
    margin-bottom: 64px;
    gap: 48px;
    flex-wrap: wrap;
}

.info {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    flex-wrap: wrap;
    width: 250px;
}

.info img{
    width: 250px;
    height: 150px;
    border: 5px solid #3882F7;
    border-radius: 5px;
}

.quote {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #E5E7EB;
    padding: 75px; 
}

.quote-text {
    display: flex;
    flex-direction: column;
    font-size: 24px;
    color: #1F2937;
    font-style: italic;
    font-weight: lighter;
    max-width: 700px;
}
.quote-signature {
    width: 300px;
    margin-top: 20px;
    align-self: flex-end;
}

.call-to-action {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.call-to-action-text {
    display: flex;
    flex-direction: column;
    gap: 5px
}

.blue-box {
    display: flex;
    align-items: center;
    background-color: #3882F7;
    padding: 50px;
    margin: 50px;
    gap:50px;
    border-radius: 10px;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 30px;
    background-color: #1F2937;
    color: white;
}